body {
  min-height: 2000px;
}

.navbar {
  background-color: #969696;
}

section {
  padding-top: 5rem;
}

.jumbotron {
  padding-top: 7rem;
  background-color: #dfdfdf;
}

#projects {
  background-color: #dfdfdf;
}

footer {
  background-color: #969696;
}
